<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Congratulations! you made it.</h1>
    <h3>Welcome to the world's best dating app.</h3>
    <p class="lead">What are you waiting for? Sign up today!</p>

    <div class="text-center">
      <button (click)="RegisterToggle()" class="btn btn-primary btn-lg me-2">Register</button>
      <button class="btn btn-primary btn-lg">Learn more</button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="CancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
